/* 0d1b2a 1b263b 415a77 778da9 e0e1dd  */
.header-parent {
    border-bottom: solid 1px #0d1b2a;
    background-color: rgb(167, 46, 46);
    height: 50px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
  }
  
  /* NAVIGATION */
  
  
  /* .header-nav-li {} */
  
  .header-nav-link {
    text-decoration: none;
    height: 100%;
    background: none;
    display: flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    border-bottom: none;
    border-radius: 6px;
    margin-top: 20px;
  }
  
  .header-nav-link span {
    display: block;
    align-self: center;
  }
  
  
  
  .header-nav-options {
    position: relative;
    height: 40px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .header-nav-div {
    text-decoration: none;
    border-radius: 1px;
    color: white;
    font-size: small;
    background: none;
    display: flex;
    width: 80px;
    justify-content: center;
  }
  
  .header-nav-div span {
    display: block;
    align-self: center;
  }
  
  .header-nav-options:last-child .header-nav-ul {
    right: 0;
  }
  
  .header-nav-options:last-child .sub-menu-ul {
    left: -100%;
  }
  
  .sub-menu-li {
  
    width: 100%;
    height: 40px;
    background-color: white;
  }
  

  .header-nav-ul {
    position: absolute;
    top: 100%;
    list-style: none;
    width: 150px;
  }
  
  .sub-menu-options {
    position: relative;
    color: black;
    width: 100%;
    height: 40px;
    background-color: #1b263b;
  }
  
  .sub-menu-ul {
    position: absolute;
    background-color: white;
    color: black;
    list-style: none;
    top: 0px;
    left: 100%;
    width: 150px;
  }
  
  .sub-menu-div {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
  }
  
  .grand-child-link {
    color: #000000;
  }
  
  .grand-child-link:last-child {
    border-bottom: solid 1px #CDD1C4;
  }
  
  .grand-child-link a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    height: 40px;
    color: #000000;
    font-size: 15px;
    border-bottom: none;
    white-space: nowrap;
  }
  
  .main-nav {
    display: flex;
    list-style: none;
    width: 1200px;
    justify-content: space-between;
  } 
  
  .main-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 2rem;
  }
  
  .heading {
    color: white;
  }

  
  
  