@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
  height: 70vh;
  margin: 0;
}

/* Components stylings */
.pagesNav {
  background: linear-gradient(brown, rgb(233, 185, 185));
  height: 35px;
  margin: 2o;
}

/* close button on nav red */
.closeBtn {
  position: absolute;
  top: 5px;
  left: 95%;
  color: brown;
  background-color: white;
  font-size: 16px;
  border: 1px solid;
}
/* nav menu button styles  */
.menu-btns .nav-btns {
  padding: 8px;
  border: none;
  margin: 1px;
  background: transparent;
  color: #fff;
}
.menu-btns .nav-btns :active {
  background-color: white;
  color: black;
}

.tablehead {
  display: flex;
  justify-content: space-between;
  width: 9em;
  background-color: aqua;
  border: 1px solid;
  border-top: none;
  border-right: none;
  border-color: blue;
}

.tablerowsdata {
  padding: 8px;
}

/* modal */
.modal {
  width: 150px;
  height: 150px;
  background-color: rgb(228, 138, 228);
}

.modal-container {
  position: absolute;
  /* top: 100px; */
  /* padding-top: 200px; */
  /* left: 25%; */
  z-index: 1;
  height: fit-content;
  width: 130px;
  background-color: rgb(238, 222, 238);
  padding: 20px;
  /*border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.filter-input {
  width: 100px;
}

/* TABS STYLING */
/* register-grn-tab */
.grnhead span {
  padding-left: 100px;
  padding-top: 15px;
}
.grn-season {
  font-weight: bold;
  position: absolute;
  left: 5%;
  top: 10%;
}

.grnhead select {
  position: relative;
  padding: 8px;
  width: 15em;
  font-weight: bold;
  top: 36%;
  left: 35%;
}

.grnno {
  font-weight: bold;
  position: absolute;
  left: 28%;
  top: 10%;
}
.grnno-input {
  position: relative;
  padding: 8px;
  width: 15em;
  font-weight: bold;
  top: 36%;
  left: 75%;
}
.grn-button {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 36%;
  left: 75%;
}
.refresh {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 36%;
  left: 17%;
}

.grn-accordions {
  padding-top: 60px;
}

/* grn tables */
.form-table {
  position: absolute;
  top: 30vh;
  width: 100vw;
  padding: 5px;
  border: 1px solid green;
}

.form-nav {
  background: linear-gradient(rgb(252, 187, 67), white);
  display: flex;
  color: #111;
}
.form-nav li {
  list-style: none;
  padding-top: 10px;
  color: #111;
  padding-left: 120px;
}
.form-nav .add-outturn {
  display: flex;
  margin: 12px;
  gap: 13px;
  padding-left: 10px;
}
.form-nav .add-outturn button {
  border: 1px solid;
  border-radius: 40px;
  color: #fff;
  font-size: 30px;
  background-color: rgb(93, 236, 93);
}

.form-nav .add-outturn p {
  padding-top: 10px;
}
.form-nav .numbers {
  padding: 18px 20px;

  display: flex;
}
.form-nav .numbers p {
  padding-left: 80px;
}
.form-table .mini-table thead tr td {
  padding: 10px 30px;
}
.form-table .mini-table tbody tr td {
  padding: 10px 30px;
}
.form-table .mini-table tbody .row-one {
  background-color: green;

  color: #fff;
}

/* warrant tables */
.warrant-head span {
  padding-left: 100px;
  padding-top: 15px;
}
.warrant-season {
  font-weight: bold;
  position: relative;
  left: 1%;
  top: 10%;
}
.warrant-head select {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 36%;
  left: 35%;
}

.warrant-head .grade {
  font-weight: bold;
  position: absolute;
  left: 24%;
  top: 10%;
}

.warrant-head .grade-input {
  position: relative;
  padding: 5px;
  width: 10em;
  font-weight: bold;
  top: 55%;
  left: 80%;
}

.warrant-head .outturn {
  font-weight: bold;
  position: relative;
  left: 15%;
  top: 48%;
}

.warrant-head .outturn-input {
  position: relative;
  padding: 8px;
  width: 15em;
  font-weight: bold;
  top: 50%;
  left: 20%;
}
.search-warrants {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 50%;
  left: 25%;
}

/* warrant table start */
.warrant-wrapper {
  padding-left: 5%;
}
.warrant-table {
  position: absolute;
  top: 27vh;
  width: 80%;
  padding: 5px;
  border: 1px solid green;
}

.warrant-nav {
  background: linear-gradient(#f4ad70, #f3e1d1);
  display: flex;
  color: #111;
  height: 40px;
}
.warrant-nav li {
  list-style: none;
  padding-top: 10px;
  color: #111;
  padding-left: 120px;
}
.warrant-nav .OG {
  display: flex;
  margin: 12px;
  gap: 13px;
  padding-left: 10px;
}
.warrant-nav .OG button {
  padding: 13px;
  margin-top: -5px;
  display: inline-flex;
  border: 1px solid;
  color: #fff;
  background-color: transparent;
}
.warrant-nav .OG button p {
  font-weight: bold;
  margin-top: -10px;
  color: #111;
}
.warrant-nav .OG h6 {
  color: #111;
  font-size: 20px;
  margin-top: -20px;
}

.icon-background {
  color: transparent;
}

.fa-info {
  position: absolute;
  padding-bottom: 30px;
  color: blue;
}

.warrant-nav .max-weight p {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}
.warrant-nav .w-weight p {
  padding: 10px 10px;
  font-weight: bold;
  font-size: 15px;
}
.warrant-nav .rmv-btn {
  padding-left: 20px;
}
.warrant-nav .rmv-btn button {
  padding: 5px 5px;
  margin-top: 5px;
  background-color: transparent;
}

.warrant-nav .numbers p {
  padding-left: 80px;
}
.warrant-table .mini-table thead tr td {
  padding: 10px 20px;
}
.warrant-table .mini-table tbody tr td {
  padding: 10px 30px;
}
.warrant-table .mini-table tbody .row-one {
  background-color: #c7dffc;

  color: #111;
}

/* warrant table two */
.warrant-table2 {
  position: absolute;
  top: 65vh;
  width: 80%;
  padding: 5px;
  border: 1px solid green;
}
.warrant-table2 .mini-table thead tr td {
  padding: 10px 20px;
}
.warrant-table2 .mini-table tbody tr td {
  padding: 10px 30px;
}
.warrant-table2 .mini-table tbody .row-one {
  background-color: #c7dffc;

  color: #111;
}

.check-icon-background {
  color: green;
}

.warrant-nav .post-warrrants {
  padding-left: 3dvi;
}
.warrant-nav .post-warrrants button {
  background-color: transparent;
  margin-top: 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;
}
.warrant-nav .split-weight {
  padding-left: 50px;
}
.warrant-nav .split-weight p {
  padding: 10px 10px;
  font-weight: bold;
  font-size: 15px;
}
.warrant-nav .enable-btn {
  padding-left: 60px;
}
.warrant-nav .enable-btn button {
  padding: 5px 5px;
  margin-top: 5px;
  background-color: red;
  color: #fff;
}

/* warrant list */

.warrantlist {
  margin: 0;
  top: 0;
  right: 0;
  height: 80vh;
  max-width: 90%;
}

.warrantlist .wrapper {
  max-width: 100%;
  border: 1px solid blue;
  height: inherit;
}
.warrantlist .wrapper .w-nav {
  height: 5%;
  background: linear-gradient(#f4ad70, #f3e1d1);
}
.warrantlist .wrapper .w-nav .load-data {
  padding: 5px;
  width: 10%;
  background: transparent;
}

.warrantlist .wrapper .data-table {
  padding: 1px;
}
.warrantlist .wrapper .data-table thead {
  position: absolute;
  top: 10%;
  padding: 10px;
  width: 89%;
}
.warrantlist .wrapper .data-table thead tr {
  width: 100%;
  display: flex;
}
.warrantlist .wrapper .data-table thead tr td {
  background: linear-gradient(#e6edf7, #fff);
  width: 100%;
  display: flex;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-color: #5a5050;
  font-weight: lighter;
}

/* OUTTURNS */
.outturn-head span {
  padding-left: 100px;
  padding-top: 15px;
}
.outturn-season {
  font-weight: bold;
  position: relative;
  left: 1%;
  top: 10%;
}
.outturn-head select {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 36%;
  left: 35%;
}

.outturn-head .grade {
  font-weight: bold;
  position: absolute;
  left: 24%;
  top: 10%;
}

.outturn-head .grade-input {
  position: relative;
  padding: 5px;
  width: 10em;
  font-weight: bold;
  top: 55%;
  left: 80%;
}

.outturn-head .outturn {
  font-weight: bold;
  position: relative;
  left: 15%;
  top: 48%;
}

.outturn-head .outturn-input {
  position: relative;
  padding: 8px;
  width: 15em;
  font-weight: bold;
  top: 50%;
  left: 20%;
}
.search-outturns {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 50%;
  left: 25%;
}

/* outturn table start */
.outturn-wrapper {
  padding-left: 5%;
}
.outturn-table {
  position: absolute;
  top: 27vh;
  width: 80%;
  padding: 5px;
  border: 1px solid green;
}

.outturn-nav {
  background: linear-gradient(#f4ad70, #f3e1d1);
  display: flex;
  color: #111;
  height: 40px;
}
.outturn-nav li {
  list-style: none;
  padding-top: 10px;
  color: #111;
  padding-left: 120px;
}
.outturn-nav .OG {
  display: flex;
  margin: 12px;
  gap: 13px;
  padding-left: 10px;
}
.outturn-nav .OG button {
  padding: 13px;
  margin-top: -5px;
  display: inline-flex;
  border: 1px solid;
  color: #fff;
  background-color: transparent;
}
.outturn-nav .OG button p {
  font-weight: bold;
  margin-top: -10px;
  color: #111;
}
.outturn-nav .OG h6 {
  color: #111;
  font-size: 20px;
  margin-top: -20px;
}

.icon-background {
  color: transparent;
}

.fa-info {
  position: absolute;
  padding-bottom: 30px;
  color: blue;
}

.outturn-nav .max-weight p {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}
.outturn-nav .w-weight p {
  padding: 10px 10px;
  font-weight: bold;
  font-size: 15px;
}
.outturn-nav .rmv-btn {
  padding-left: 20px;
}
.outturn-nav .rmv-btn button {
  padding: 5px 5px;
  margin-top: 5px;
  background-color: transparent;
}

.outturn-nav .numbers p {
  padding-left: 80px;
}
.outturn-table .mini-table thead tr td {
  padding: 10px 20px;
}
.outturn-table .mini-table tbody tr td {
  padding: 10px 30px;
}
.outturn-table .mini-table tbody .row-one {
  background-color: #c7dffc;

  color: #111;
}

/* outturn table two */
.outturn-table2 {
  position: absolute;
  top: 65vh;
  width: 80%;
  padding: 5px;
  border: 1px solid green;
}
.outturn-table2 .mini-table thead tr td {
  padding: 10px 20px;
}
.outturn-table2 .mini-table tbody tr td {
  padding: 10px 30px;
}
.outturn-table2 .mini-table tbody .row-one {
  background-color: #c7dffc;

  color: #111;
}

.check-icon-background {
  color: green;
}

.outturn-nav .post-warrrants {
  padding-left: 3dvi;
}
.outturn-nav .post-warrrants button {
  background-color: transparent;
  margin-top: 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;
}
.outturn-nav .split-weight {
  padding-left: 50px;
}
.outturn-nav .split-weight p {
  padding: 10px 10px;
  font-weight: bold;
  font-size: 15px;
}
.outturn-nav .enable-btn {
  padding-left: 60px;
}
.outturn-nav .enable-btn button {
  padding: 5px 5px;
  margin-top: 5px;
  background-color: red;
  color: #fff;
}

/* outturn list */

.outturnlist {
  margin: 0;
  top: 0;
  right: 0;
  height: 80vh;
  max-width: 90%;
}

.outturnlist .wrapper {
  max-width: 100%;
  border: 1px solid blue;
  height: inherit;
}
.outturnlist .wrapper .w-nav {
  height: 5%;
  background: linear-gradient(#f4ad70, #f3e1d1);
}
.outturnlist .wrapper .w-nav .load-data {
  padding: 5px;
  width: 10%;
  background: transparent;
}

.outturnlist .wrapper .data-table {
  padding: 1px;
}
.outturnlist .wrapper .data-table thead {
  position: absolute;
  top: 10%;
  padding: 10px;
  width: 89%;
}
.outturnlist .wrapper .data-table thead tr {
  width: 100%;
  display: flex;
}
.outturnlist .wrapper .data-table thead tr td {
  background: linear-gradient(#e6edf7, #fff);
  width: 100%;
  display: flex;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-color: #5a5050;
  font-weight: lighter;
}

/* QUALITY */
/* quality forms */
/* quality-list */

.qualitylist {
  margin: 0;
  top: 0;
  right: 0;
  height: 80vh;
  max-width: 90%;
}

.qualitylist .wrapper {
  max-width: 100%;
  border: 1px solid blue;
  height: inherit;
}
.qualitylist .wrapper .w-nav {
  height: 5%;
  background: linear-gradient(#f4ad70, #f3e1d1);
}
.qualitylist .wrapper .w-nav .load-data {
  padding: 5px;
  width: 10%;
  background: transparent;
}

.qualitylist .wrapper .data-table {
  padding: 1px;
}
.qualitylist .wrapper .data-table thead {
  position: absolute;
  top: 10%;
  padding: 10px;
  width: 89%;
}
.qualitylist .wrapper .data-table thead tr {
  width: 100%;
  display: flex;
}
.qualitylist .wrapper .data-table thead tr td {
  background: linear-gradient(#e6edf7, #fff);
  width: 100%;
  display: flex;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-color: #5a5050;
  font-weight: lighter;
}

/* Qualityreport */
.qr-wrapper {
  position: absolute;
  top: 3%;
  left: -3%;
  font-size: 15px;
  color: brown;
}
.qr-wrapper hr.quality-hor {
  position: relative;
  top: 3.5vh;
  width: 104em;
}
.quality-head span {
  padding-left: 100px;
  padding-top: 15px;
}
.quality-season {
  font-weight: bold;
  position: relative;
  left: 1%;
  top: 10%;
}
.quality-season label {
  font-weight: bold;
  position: absolute;
  left: 30%;
  top: 70%;
}
.quality-head select {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 36%;
  left: 35%;
}

.quality-head .grade {
  font-weight: bold;
  position: absolute;
  left: 24%;
  top: 75%;
}

.quality-head .grade-input {
  position: relative;
  padding: 5px;
  width: 10em;
  font-weight: bold;
  top: 55%;
  left: 80%;
}

.quality-head .outturn {
  font-weight: bold;
  position: relative;
  left: 15%;
  top: 48%;
}

.quality-head .outturn-input {
  position: relative;
  padding: 8px;
  width: 15em;
  font-weight: bold;
  top: 50%;
  left: 20%;
}
.search-qualitys {
  position: relative;
  padding: 8px;
  width: 10em;
  font-weight: bold;
  top: 50%;
  left: 25%;
}

/* BULKS */

/* internal bulks */

/* internal list bulks */

.int-bulklist {
  margin: 0;
  top: 0;
  right: 0;
  height: 80vh;
  max-width: 90%;
}

.int-bulklist .wrapper {
  max-width: 100%;
  border: 1px solid blue;
  height: inherit;
}
.int-bulklist .wrapper .w-nav {
  height: 5%;
  background: linear-gradient(#f4ad70, #f3e1d1);
}
.int-bulklist .wrapper .w-nav .load-data {
  padding: 5px;
  width: 10%;
  background: transparent;
}

.int-bulklist .wrapper .data-table {
  padding: 1px;
}
.int-bulklist .wrapper .data-table thead {
  position: absolute;
  top: 10%;
  padding: 10px;
  width: 89%;
}
.int-bulklist .wrapper .data-table thead tr {
  width: 100%;
  display: flex;
}
.int-bulklist .wrapper .data-table thead tr td {
  background: linear-gradient(#e6edf7, #fff);
  width: 100%;
  display: flex;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-color: #5a5050;
  font-weight: lighter;
}

/* external bulks */

/* external list bulks */

.ext-bulklist {
  margin: 0;
  top: 0;
  right: 0;
  height: 80vh;
  max-width: 90%;
}

.ext-bulklist .wrapper {
  max-width: 100%;
  border: 1px solid blue;
  height: inherit;
}
.ext-bulklist .wrapper .w-nav {
  height: 5%;
  background: linear-gradient(#f4ad70, #f3e1d1);
}
.ext-bulklist .wrapper .w-nav .load-data {
  padding: 5px;
  width: 10%;
  background: transparent;
}

.ext-bulklist .wrapper .data-table {
  padding: 1px;
}
.ext-bulklist .wrapper .data-table thead {
  position: absolute;
  top: 10%;
  padding: 10px;
  width: 89%;
}
.ext-bulklist .wrapper .data-table thead tr {
  width: 100%;
  display: flex;
}
.ext-bulklist .wrapper .data-table thead tr td {
  background: linear-gradient(#e6edf7, #fff);
  width: 100%;
  display: flex;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-color: #5a5050;
  font-weight: lighter;
}

