.formContainer{
    background-color:white;
    border: 1px solid;
    margin-top:120px;
    margin-left: 400px;
    float: center;
    width: 580px;
    height: 400px;


    }

    .menus{
        display: flex;
        justify-content: space-between;
        height: 20px;
    }

    .menus h2{
        border: 8px solid white;
        margin-left: 10px;
        margin-right: 50px;
        font-size: small;
        height: 0px;
    }
    .menus h1{
        margin-left: 10px;
        margin-right: 50px;
        font-size: small;
        height: 0px;
        
    }

    
    .title{
        display: flex;
    }

    .img{
        height: 50px;
        width: 100px;
        margin-left: 40%;
        margin-bottom: 5px;
        margin-top: 25px;
    }
    .maroonBar{
        margin-top: 10px;
         background: linear-gradient(maroon,white);
         /* background-color: linear-gradient(to bottom, maroon, white 90%); */
         height: 55px;
    }

    .formItems{
        align-items: center;
        width: 100%;
        height: 300px;
        margin-top: 20px;

    }

    .formItems p{
        margin-left: 40%;       
        margin-top: 20px;       
        font-size: 10px;
        color: maroon;
    }

    .input1{
        margin-top: 2px;
        margin-left: 150px;
        color: maroon;
        font-size: large;
    }
    .input2{
        margin-top: 30px;
        margin-left: 150px;
        color: maroon;
        font-size: large;
    }

    .label{
        display: flex;
    }

    .pwd{ 
        height: 20px;
        margin-top: 30px;
        margin-left: 16px;
    }
    .user{ 
        height: 20px;
        margin-top: 1px;
        margin-left: 16px;
    }
    .loginBtn{
        margin-top: 22px;
        margin-left: 240px;
        margin-bottom: 10px;
        border: 1px solid;
        width: 180px;
        height: 25px;

    }

    .radio{
        margin-left: 250px;
    }
    .check{
        margin-left: 15px;
    }